name: Build wheels

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21.3
        env:
          CIBW_BUILD: "cp312-*"
          CIBW_SKIP: "*musllinux*"
          CIBW_BEFORE_BUILD_LINUX: "bash scripts/install_nvcomp.sh"
          CIBW_ENVIRONMENT_LINUX: "NVCOMP_ROOT=/opt/nvcomp NVCC_ALLOW_UNSUPPORTED=1"
          NVCOMP_URL: ${{ secrets.NVCOMP_URL }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: wheelhouse/*.whl
